@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Pacifico&display=swap");

.heroTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply text-white;
  font-weight: 700;
  font-family: "Gabarito", cursive;
}

.animate-bounce {
  margin-top: 1.5rem;
  animation: bounce 1s infinite;
  transition: all 0.2s ease-in-out;
  color: white;
  padding: 10px 20px;
  border: 2px solid #ffc3a0 !important;
  border-radius: 5px;
  cursor: pointer;
  @apply text-base font-medium;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate-bounce:hover {
    border: none;
    background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
    color: white;
}

.animate-bounce:active {
  transform: scale(0.95);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
  
.bigtxt {
  @apply text-6xl font-bold;
}

.gradienTxt {
  background: #ffafbd;
  background: -webkit-linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
  background: -moz-linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
  background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pacifico", cursive;
  @apply font-light;
}

.smalltxt {
  @apply text-sm font-medium;
  margin-top: 1rem;
}
