backend/config/
backend/.env
backend/node_modules/
backend/models/customUser.js

# Logs
*.log
frontend/logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Logs
e-readify-frontend/logs
e-readify-frontend/*.log
e-readify-frontend/npm-debug.log*
e-readify-frontend/yarn-debug.log*
e-readify-frontend/yarn-error.log*
e-readify-frontend/pnpm-debug.log*
e-readify-frontend/lerna-debug.log*

e-readify-frontend/node_modules
e-readify-frontend/dist
e-readify-frontend/dist-ssr
e-readify-frontend/*.local


# Editor directories and files
e-readify-frontend/.vscode/*
e-readify-frontend/!.vscode/extensions.json
e-readify-frontend/.idea
e-readify-frontend/.DS_Store
e-readify-frontend/*.suo
e-readify-frontend/*.ntvs*
e-readify-frontend/*.njsproj
e-readify-frontend/*.sln
e-readify-frontend/*.sw?